<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Notifications - Admin Dashboard</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>

<div class="container-fluid" style="max-width: 900px;">
    <h2 class="text-center">Notifications</h2>

    <div class="" th:unless="${notifications.size() > 0}">
        <span>No notifications found!</span>
    </div>

    <div th:if="${notifications.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Notification ID</th>
                <th scope="col">Destination</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Status Date</th>
                <th scope="col">Status Message</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notif : ${notifications}">
                <th scope="row">[[${notif.notificationId}]]</th>
                <td>[[${notif.destination}]]</td>
                <td>[[${notif.subject}]]</td>
                <td>[[${notif.message}]]</td>
                <td>[[${notif.status}]]</td>
                <td>[[${notif.creationDate}]]</td>
                <td>[[${notif.statusDate}]]</td>
                <td>[[${notif.statusMessage}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>

</html>